{% extends "_base.html" %}
{% block content %}

<div class="content-div table-responsive">
	<div class="row">
		<h1>About</h1>
		<p>

			This is a web application that aims to enrich your Hearthstone experience with functionality such as deck building,
			sharing, and tracking, as well as provide a collaboration and viewing platform for those decks. You MUST be logged in via your Google account to use the majority of features.

		</p>
		<br>
		<h2><b><u>How to Use</u></b></h2>

			<p>
				This application is aimed to give users a quick and easy way to create and share deck lists. To facilitate this, the user experience has been designed to closely emulate the flow of the "Collection" builder within the game, as you can see below. Even ignoring the robust import and filtering functionality of the application, mirroring the basic layout and ordering of the in-game collection manager allows users to quickly and easily find the cards they wish to add to their decklists.
			</p>

			<br>
			<img class="howtoimg" height="30%" src="/static/assets/howto/game_flow.png">
			<br><br>
			<img class="howtoimg" height="30%"src="/static/assets/howto/web_flow.png">
			<br>
			<br>

			<p>
				Add and remove cards from your decklist simply by clicking on them. Just like the in-game builder, you can't add more than 2 of any given card, nor can you add more than 1 of any Legendary card. You can filter the list of cards by typing in a card name, type, tribe, or even partial card text. You can navigate through the list using the left and right arrow keys, as well as the navigation buttons along the top of the builder.
			</p>

			<br>
			<img class="howtoimg" height="7%" src="/static/assets/howto/builder_nav.png">
			<br>
			<br>

			<p>

				From Left to Right:<br>

				<ul>

					<li>	<b>Help:</b> 		Displays a modal window of quick help information.</li>
					<li>	<b>Left:</b> 		Moves the card list in the builder one page to the left.</li>
					<li>	<b>Search:</b>		Filter card list by many different qualities</li>
					<li>	<b>Right:</b>	Moves the card list in the builder one page to the right.</li>
					<li>	<b>Class:</b>		Moves the card list in the builder to its class cards.</li>
					<li>	<b>Neutral:</b>	Moves the card list in the builder to its class cards.</li>

				</ul>
				
			</p>

			<br>

			<img class="howtoimg" height="35%" src="/static/assets/howto/import_example.png">
			

			<br>
			<br>

			<p>

				You can also import and export decklists from this application in Cockatrice format! Freely move your decklists throughout your various tracking applications simply and easily. You can even save your decklists with full rich HTML descriptions so you can share them with friends, or edit and update them later via your sharable profile page (Google account required).

			</p>

			<br>
			<img class="howtoimg" height="30%" src="/static/assets/howto/profile_example.png">

		<br>
		<br>
		<h2><b><u>More Information</u></b></h2>
		<p>

			This website is <b>NOT</b> optimized for mobile. We have plans to support mobile but this will
			come much later down the line. This application was also developed for <b>Google Chrome</b>, so other 
			browsers might not be supported. Please bear with us as we correct these issues over time.

		</p>
		<br><br>
		<p>

			If you'd like to contribute to this project, you can fork it over on <a href="https://github.com/CCondeluci/HSDeckAssistant-CS1520">GitHub</a>.

		</p>
		<br><br>
		</p>

			This application was originally developed for Professor James' 1520 Web Applications class by:
			<br><br>
			<ul>
				<li>Carmen Condeluci & Zane Hernandez,</li>
				<li>with assistance from Benjamin Graham.</li>
			</ul>

			<br><br>
			All card, background, and miscellaneous images are property of Blizzard.

		</p>
	</div>
</div>

{% endblock %}
