{% extends "_base.html" %}
{% block content %}

<div class="container">
	<div class="row">
		<h1>About</h1>
		<p>

			This is a web application that aims to enrich your Hearthstone experience with functionality such as deck building,
			sharing, and tracking, as well as provide a collaboration and viewing platform for those decks. You MUST be logged in via your google account to use the majority of features.

		</p>
		<br><br>
		</p>

			This application was developed for Professor James' 1520 Web Applications class by:
			<br><br>
			<ul>
				<li>Carmen Condeluci</li>
				<li>Zane Hernandez</li>
				<li>Chad Pongratz</li>
				<li>Benjamin Graham</li>
			</ul>

			<br><br>
			All card and background images are property of Blizzard.

		</p>
	</div>
</div>

{% endblock %}