{% extends "_base.html" %}
{% block content %}

<div class="content-div table-responsive">
	<div class="row">
		<h1>About</h1>
		<p>

			This is a web application that aims to enrich your Hearthstone experience with functionality such as deck building,
			sharing, and tracking, as well as provide a collaboration and viewing platform for those decks. You MUST be logged in via your google account to use the majority of features.

		</p>
		<br><br>
		<p>

			This website is <b>NOT</b> optimized for mobile. We have plans to support mobile but this will
			come much later down the line. This application was also developed for <b>Google Chrome</b>, so other 
			browsers might not be supported. Please bear with us as we correct these issues over time.

		</p>
		<br><br>
		<p>

			If you'd like to contribute to this project, you can fork it over on <a href="https://github.com/CCondeluci/HSDeckAssistant-CS1520">GitHub</a>.

		</p>
		<br><br>
		</p>

			This application was developed for Professor James' 1520 Web Applications class by:
			<br><br>
			<ul>
				<li>Carmen Condeluci</li>
				<li>Zane Hernandez</li>
				<li>Chad Pongratz</li>
				<li>Benjamin Graham</li>
			</ul>

			<br><br>
			All card, background, and miscellaneous images are property of Blizzard.

		</p>
	</div>
</div>

{% endblock %}
