{% extends "_base.html" %}
{% block content %}
<head>
</head>
<body>
    <div class="content-div" style="padding-top:30px">
        <form enctype="multipart/form-data" method="post" action="{{upload_url}}">
            <h3>Create your User Profile</h3><br/>
            <label>Username:</label><br/>
            <input type="text" name="username" id="usernameField" required>
            <div id="usernametakendiv"></div>
            <br/>
            <label>Profile picture:</label><br/>
            <div align="center"><input id="in_pic" type="file" name="pic"/><br/><br/></div>
            <input style="width:15%" type="submit" id="submitButton" value="Submit"/>
        </form>
    </div>
    <script src="/static/js/validateUserInfo.js" />
</body>
{% endblock %}
