{% extends "_base.html" %}
{% block content %}

<div class="loader"></div>

<div id="decklist">
	<p id="cardcounter">0 / 30</p>
	<ul id='inner_list'>
		<li></li>
	</ul>
	<p id="dustcounter">0 Dust to Craft</p>
	<p id="clearexport">
		<button type="button" onclick="resetDeck()">Reset</button>.........
		<button type="button" onclick="exportDeck(500, 500)">Export</button>
	</p>
</div>

<div id="deckbuilder">
	<div id="object" class="slideLeft">
		{% for ccard in class_cards %}
		<a cardName="{{ccard.name}}" 
			href="http://www.hearthhead.com/card={{ccard.hheadId}}&text" 
			onclick="addCard(this); return false;" 
			imgurl="{{ccard.img}}"
			cardId="{{ccard.cardId}}"
			cardSet="{{ccard.cardSet}}"
			type="{{ccard.type}}"
			rarity="{{ccard.rarity}}"
			cost="{{ccard.cost}}"
			attack="{{ccard.attack}}"
			health="{{ccard.health}}"
			cardtext="{{ccard.text}}"
			flavor="{{ccard.flavor}}"
			artist="{{ccard.artist}}"
		>
			<img class="builder_card" height="303" width="200" src="{{ccard.img}}">
		</a>
		{% endfor %}
	</div>
	<hr>
	<div id="object" class="slideLeft">
		{% for ncard in neutral_cards %}
		<a cardName="{{ncard.name}}" 
			href="http://www.hearthhead.com/card={{ncard.hheadId}}&text" 
			onclick="addCard(this); return false;" 
			imgurl="{{ncard.img}}"
			cardId="{{ncard.cardId}}"
			cardSet="{{ncard.cardSet}}"
			type="{{ncard.type}}"
			rarity="{{ncard.rarity}}"
			cost="{{ncard.cost}}"
			attack="{{ncard.attack}}"
			health="{{ncard.health}}"
			cardtext="{{ncard.text}}"
			flavor="{{ncard.flavor}}"
			artist="{{ncard.artist}}"
		>
			<img class="builder_card" height="303" width="200" src="{{ncard.img}}">
		</a>
		{% endfor %}
	</div>
</div>

<script type="text/javascript" src="/static/js/deckbuilder.js"></script>


{% endblock %}