{% extends "_base.html" %}
{% block content %}

<div id="decklist">
	<form id="decklist_saver_form" action="/mydecklists">
		<input id="deck_name_box" type="text" name="deckname" value="Enter Deck Name Here...">
		<p id="cardcounter">0 / 30</p>
		<ul id='inner_list'>
			<li></li>
		</ul>
		<p id="dustcounter">0 Dust to Craft</p>
		<p id="clearexport">
			<button type="button" onclick="resetDeck()">Reset</button>
			<button type="button" onclick="exportDeck(500, 500)" data-toggle="modal" data-target="#exportPopup">Export</button>
			<button type="button" onclick="PrepareDeck()">Save</button>
		</p>
	</form>
</div>

<div id="deckbuilder">
	<div id="object" class="slideLeft">
		{% for ccard in class_cards %}
		<a cardName="{{ccard.name}}" 
			href="#" 
			onclick="addCard(this); return false;" 
			imgurl="{{ccard.img}}"
			cardId="{{ccard.cardId}}"
			cardSet="{{ccard.cardSet}}"
			type="{{ccard.type}}"
			rarity="{{ccard.rarity}}"
			cost="{{ccard.cost}}"
			attack="{{ccard.attack}}"
			health="{{ccard.health}}"
			cardtext="{{ccard.text}}"
			flavor="{{ccard.flavor}}"
			artist="{{ccard.artist}}"
		>
			<img class="builder_card" height="303" width="200" src="{{ccard.img}}">
		</a>
		{% endfor %}
	</div>
	<hr>
	<div id="object" class="slideLeft">
		{% for ncard in neutral_cards %}
		<a cardName="{{ncard.name}}" 
			href="#" 
			onclick="addCard(this); return false;" 
			imgurl="{{ncard.img}}"
			cardId="{{ncard.cardId}}"
			cardSet="{{ncard.cardSet}}"
			type="{{ncard.type}}"
			rarity="{{ncard.rarity}}"
			cost="{{ncard.cost}}"
			attack="{{ncard.attack}}"
			health="{{ncard.health}}"
			cardtext="{{ncard.text}}"
			flavor="{{ncard.flavor}}"
			artist="{{ncard.artist}}"
		>
			<img class="builder_card" height="303" width="200" src="{{ncard.img}}">
		</a>
		{% endfor %}
	</div>
</div>

<!-- Modal -->
  <div class="modal fade" id="exportPopup" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Decklist Export</h4>
        </div>
        <div class="modal-body" id="deckbody">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>

<script type="text/javascript" src="/static/js/deckbuilder.js"></script>


{% endblock %}