{% extends "_base.html" %}
{% block content %}

<div class="container-fluid" id="checkdeckmain">
	<br>
	<div class="row con">
		<div class="col-md-3 col-sm-3" id="checkdeckleftpanel">
			<div class="checkdecklist" id="decklist" style="background-color:transparent;">
				<div id="goldborder-top"></div>
				<div id="chartborder">
					<svg class="chart" data-bar-chart data-data="" data-bar-width="8"></svg>
				</div>
				<p id="curvelist"><img src="/static/assets/mana-curve.png"></p>
				<div id="goldborder-bottom"></div>
				<ul id='inner_list'>
					{% for card in cardlist %}
						<li id="{{card.cardId}}" class="{{card.rarity}}">
							<a onclick="return false;" id="tooltip-container" href="http://www.hearthhead.com/card={{card.hheadID}}">
								<div class="deckcardimage" style="background-image: url('{{card.imgurl}}');"></div>
								<div class="content">
									<div class="mana">{{card.mana}}</div>
									<div class="deckcardname">{{card.cardName}}</div>
									<div class="spacer"></div>
									<div class="cardcount">{{card.count}}</div>
								</div>
							</a>
						</li>
					{% endfor %}
				</ul>
				<div id="goldborder-top-below"></div>
				<p id="dustcounter">Dust Cost: {{deck.dustcost}}</p>
				<p id="clearexport">
					<button type="button" onclick="exportDeck(500, 500)" data-toggle="modal" data-target="#exportPopup">Export</button>
				</p>
				<div id="goldborder-bottom-below"></div>
			</div>
		</div>
		<div class="col-md-8 col-sm-8 content-div deckcheck-fix" id="checkdeckrightpanel">
			<h1>{{deck.name}}</h1>
			<h2>{{deck.deck_class}}</h2>
			<br>
			<p>Deck Description:</p>
			<br>
			{{deck.write_up|safe}}
			<br>
			<br>
		</div>
		
	</div>
</div>

<!-- Modal -->
  <div class="modal fade" id="exportPopup" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Decklist Export</h4>
        </div>
        <div class="modal-body" id="deckbody">
        </div>
        <div class="modal-footer">
        	<button type= "button" class="btn btn-default" id="copy-button" data-clipboard-target="checkClear">Copy to Clipboard</button>
          	<button type="button" onclick="" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>

<script>

  $('[data-bar-chart]').each(function (i, svg) {
  	var curve = {{deck.curve}};

    var $svg = $(svg);
    var data = curve.map(function (datum) {
      return parseFloat(datum);
    });

    var barWidth = 29.5;
    var barSpace = 0.5;
    var chartHeight = $svg.outerHeight();

    var y = d3.scale.linear()
              .domain([0, d3.max(data)])
              .range([0, chartHeight]);

    d3.select(svg)
      .selectAll("rect")
        .data(data)
      .enter().append("rect")
        .attr("class", "bar")
        .attr("width", barWidth)
        .attr("x", function (d, i) { return barWidth*i + barSpace*i; })
        .attr("y", chartHeight)
        .attr("height", 0)
        .transition()
        .delay(function (d, i) { return i*100; })
        .attr("y", function (d, i) { return chartHeight-y(d); })
        .attr("height", function (d) { return y(d); });
  });
</script>

<script type="text/javascript">
	
	// "Define" objects that will be used in functions
	var deck_list = {
		list: [],
		decksize: 30,
		dustcost: {{deck.dustcost}},
		deckname: "{{deck.name}}",
		deck_class: "{{deck.deck_class}}",
		write_up: ""
	};

	var d_card = {

		cardName: "",
		count: 0,
		rarity: 0,
		cardId: "",
		imgurl: "",
		cardSet: "",
		mana: 0,
		hheadID: ""
	};

	setupDeck();

	function setupDeck(){

		{% for card in cardlist %}
			var current_dcard = new Object();
			current_dcard.cardName = "{{card.cardName}}";
			current_dcard.count = {{card.count}};
			current_dcard.mana = {{card.mana}};

			deck_list.list.push(current_dcard);
		{% endfor %}

	}

	//Export a deck to Cockatrice format
	function exportDeck(w, h) {
		var bsPopup = document.getElementById('deckbody');
		bsPopup.innerHTML = "";
		var printdeck = document.createElement('textarea');
		printdeck.setAttribute('rows', 50);
		printdeck.setAttribute('cols', 50);
		printdeck.setAttribute('class', 'exportArea');
		printdeck.setAttribute('id', 'checkClear');

		templist = deck_list.list;
		bsPopup.innerHTML = "<p>" + deck_list.deckname + "</p>";

		for( var x = 0; x < templist.length; x++ ) {
			printdeck.innerHTML += templist[x].count + " " + templist[x].cardName + "\n";
		}

		bsPopup.appendChild(printdeck);
	}

</script>

{% endblock %}